<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
<form action="/order" method="post">
    <input type="text" name="name" placeholder="Введите своё имя">
    <select name="drink">
        <option value="">--Choice drink--</option>
        <option value="coffe">Coffee</option>
        <option value="chocolate">Chocolate</option>
        <option value="decaf">Decaf</option>
    </select>
    <select name="flavor">
        <option value="">--Choice flavor--</option>
        <option value="caramel">Caramel</option>
        <option value="vanilla">Vanilla</option>
        <option value="peppermint">Peppermint</option>
        <option value="raspberry">Raspberry</option>
        <option value="plain">Plain</option>
    </select>
    <select name="topping">
        <option value="">--Choice topping--</option>
        <option value="caramel">Caramel</option>
        <option value="chocolate">Chocolate</option>
        <option value="cinnamon">Cinnamon</option>
    </select>
    <input type="submit" value="Submit">
</form>
</body>
</html>